@model TaskTracker.PL.Models.UserTaskModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>GetTask</title>

    <style>
        body {
            font-size: 130%;
        }
    </style>
</head>
<body>
    <div>
        <hr />
        <div>
            <p><strong>Title:</strong> @Model.Title</p>
            <p><strong>Description:</strong> @Model.Description</p>
            <p><strong>Created Date:</strong> @Model.CreatedDate</p>
            <p><strong>DeadLine:</strong> @Model.DeadLine</p>
        </div>
    </div>
    <div>
        @Html.ActionLink("Edit", "EditTask", new { id = Model.Id }) |
        @Html.ActionLink("Delete", "DeleteTask", new { id = Model.Id })
    </div>

    <div>
        <div>
            <a href="/home/GetUsersTask">Close</a>
        </div>
    </div>
</body>
</html>
