@model TaskTracker.PL.Models.AccountUserModel

@{
    ViewData["Title"] = "GetUserAccount";
}

<h1>My Profile</h1>

<p>
    <form method="get" action="@Url.Action("EditAccount", "User")">
        <input type="submit" value="Edit private data" style="margin-top: 10px" />
    </form>
    <form method="get" action="@Url.Action("EditUser", "User")">
        <input type="submit" value="Edit basic data" style="margin-top: 10px" />
    </form>
</p>

<div>
    <p>Login: @Model.Login</p>
    <p>Name: @Model.Name</p>
    <p>Phone Number: @Model.PhoneNumber</p>
</div>

<a href="@Url.Action("Logout", "User")">Logout</a>
