@model TaskTracker.PL.Models.AccountUserModel

@{
    ViewData["Title"] = "GetUserAccount";
}

<h1>My Profile</h1>
<p>
    @Html.ActionLink("Edit main data", "EditUser", "User" , new { id = Model.Id }, null)
</p>
<p>
    @Html.ActionLink("Edit private data", "EditAccount", "User" , new { id = Model.Id }, null)
</p>
<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PhoneNumber)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Login)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Login)
        </dd>
    </dl>
</div>

<p>
    <a asp-action="Logout" asp-controller="User">Logout</a>
</p>
