@model IEnumerable<TaskTracker.PL.Models.UserTaskModel>

@{
    ViewData["Title"] = "GetUsersTask";
}

<head>
    <style>
        a {
            text-decoration: none;
            color: black;
        }
    </style>
</head>

<h1>My Tasks</h1>

<p>
    <form method="post" action="@Url.Action("AddTask", "Task")">
        <input type="submit" value="Add new task" />
    </form>
</p>

<body>
    @if (ViewBag.Message != null)
    {
        <div>@ViewBag.Message</div>
    }
    else
    {
        @foreach (var task in Model)
        {
            <a href="@Url.Action("GetTask", "Task", new { id = task.Id })">
                <div style="border: 1px solid black; padding: 10px; margin: 10px;">
                    <div>
                        <h3>@task.Title</h3>
                        <p>@task.Description</p>
                        <p>Created: @task.CreatedDate.ToShortDateString()</p>
                        <p>Deadline: @task.DeadLine.ToShortDateString()</p>
                    </div>
                    <form method="post" action="@Url.Action("DeleteTask", "Task")" style="display: inline-block">
                        <input type="hidden" name="id" value="@task.Id" />
                        <input type="submit" value="Delete" />
                    </form>
                    <form method="get" action="@Url.Action("EditTask", "Task")" style="display: inline-block">
                        <input type="hidden" name="id" value="@task.Id" />
                        <input type="submit" value="Edit" />
                    </form>
                </div>
            </a>
        }
    }
</body>
